version: "3.8"
services:
  activity-db:
    image: postgres:latest
    restart: always
    environment:
      - POSTGRES_USER=activiti
      - POSTGRES_PASSWORD=activiti
      - POSTGRES_DB=activiti
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql

volumes:
  db_data:
    driver: local
