.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img.photo {
  width: 60% !important;
  height: 90% !important;
}

.custom-viewer {
  height: 100% !important;
}
.pg-viewer-wrapper {
  height: 90% !important;
}

div#pg-photo-container {
  height: 80% !important;
}

.makeStyles-root-126 {
  max-width: 100% !important;
}

.MuiFormControl-root {
  width: 100%;
}
.customProcesses {
  width: 100% !important;
  position:fixed;
}