mongo
use admin
db.system.users.remove({})
db.system.version.remove({})
db.system.version.insert({ "_id" : "authSchema", "currentVersion" : 3 })


use garantiasdb
db.createUser({user: "certi",pwd: "certi123",roles: [ { role: "userAdmin", db: "garantiasdb" }]})
db.auth('certi','certi123')

use usersdb
db.createUser({user: "certiusers",pwd: "certi123",roles: [ { role: "userAdmin", db: "usersdb" }]})
db.auth('certiusers','certi123')

use batchrunnerdb
db.createUser({user: "certiusers",pwd: "certi123",roles: [ { role: "userAdmin", db: "batchrunnerdb" }]})
db.auth('certiusers','certi123')

use cmsdb
db.createUser({user: "certi",pwd: "certi123",roles: [ { role: "userAdmin", db: "cmsdb" }]})
db.auth('certi','certi123')




#export---------------
mongodump --db garantiasdb --username username --password password --out /home/asd/ftp

mongorestore /Users/parey/Documents/desarrollos/usersdb/


#fonts---------------
sudo apt-get install ttf-mscorefonts-installer

sudo apt-get install --reinstall ttf-mscorefonts-installer

CENTOS

wget http://www.itzgeek.com/msttcore-fonts-2.0-3.noarch.rpm
rpm -Uvh msttcore-fonts-2.0-3.noarch.rpm